@using Kiru8th.Models
@model Kiru8th.Models.BackArticle
@{
    ViewBag.Title = "EditArticle";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
    ViewBag.url = Request.Url;
}
@helper ArticleResult(BackArticle backArticle)
{
    var artId = backArticle.ID;
    var imgUrl = Url.Content("~/images/" + backArticle.Titlepic);
    var main = backArticle.Main;


}
<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">精選列表文章</h5>
                        <p class="m-b-0">編輯文章</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index")"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("ShowNewArticle")">精選文章列表</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@ViewBag.url">編輯文章</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">


            <div class="card">
                <div class="card-header">
                    <h5>@ViewData["artTitle"].ToString()</h5>
                </div>
                <div class="card-block">
                    <form method="post" action="@Url.Action("EditArticle")">
                        <input type="hidden" name="artId" value="@ViewData["artID"]" />
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">標題</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="@ViewData["artTitle"].ToString()" name="title">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">封面圖片</label>
                            <div class="col-sm-10">
                                <img src="@ViewData["artTitlePhoto"].ToString()" width="200px" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-2 col-form-label">內容</label>
                            <div class="col-sm-10">
                                @Html.TextArea("ContentText", @ViewData["artMain"].ToString(), new { id = "ContentText", @name = "ContentText" })
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">送出</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" language="javascript">
        var editor = CKEDITOR.editor.replace('ContentText', { skin: 'kama', width: '750px' });
    </script>
}
