@using Kiru8th.Models
@model IEnumerable<Kiru8th.Models.BackArticle>

@{
    ViewBag.Title = "ShowNewArticle";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}



@helper ArticleResult(BackArticle backArticle)
{
    var artId = backArticle.ID;
    var url = Url.Action("DetailNewArticle", "BackMember")+"?artId=" + artId ;
    var imgUrl = Url.Content("~/images/" + backArticle.Titlepic);
    <div class="card">
        <div class="card-header">
            <h5>@backArticle.Title</h5>
        </div>
        <div class="card-block">
            <form>
                @*<div class="form-group row">
                <label class="col-sm-2 col-form-label">標題</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" readonly>
                </div>
            </div>*@

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">封面圖片</label>
                    <div class="col-sm-10">
                        <img src="@imgUrl" width="200px" />
                    </div>
                </div>
                <div class="form-group row">
                    <a href="@url" class="col-sm-2 col-form-label">展開閱讀</a>
                </div>
                
            </form>

        </div>
    </div>
    
   


}

<div class="pcoded-content">
<!-- Page-header start -->
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="page-header-title">
                    <h5 class="m-b-10">精選文章</h5>
                    <p class="m-b-0">精選文章列表</p>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("Index")"> <i class="fa fa-home"></i> </a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="@Url.Action("ShowNewArticle")">精選文章列表</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page-header end -->
<div class="pcoded-inner-content">
<!-- Main-body start -->
<div class="main-body">
    <p>
        <a href="@Url.Action("AddNewArticle")"class="btn waves-effect waves-light btn-success btn-outline-success">新增文章</a>
        @*@Html.ActionLink("新增文章", "AddNewArticle")*@
    </p>
<ul>
    @foreach (var article in Model)
    {
        <li>@ArticleResult(article)</li>
    }
</ul>
</div>
</div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" language="javascript">
        var editor = CKEDITOR.editor.replace('ContentText', { skin: 'kama', width: '750px' });
    </script>
}