@model Kiru8th.Models.Articlecategory

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<div class="pcoded-content">
    <!-- Page-header start -->
    <div class="page-header">
        <div class="page-block">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <div class="page-header-title">
                        <h5 class="m-b-10">文章類別列表</h5>
                        <p class="m-b-0">編輯文章分類</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index")"> <i class="fa fa-home"></i> </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@Url.Action("Index","Articlecategories")">文章類別列表</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="@ViewBag.url">編輯文章類別</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Page-header end -->
    <div class="pcoded-inner-content">
        <!-- Main-body start -->
        <div class="main-body">
            <div class="card">
                <div class="card-header">
                    <h4>文章類別</h4>
                </div>

                <div class="card-block typography">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                        
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.Id)

                            <div class="form-group">
                                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="編輯完成" class="btn waves-effect waves-light btn-info btn-outline-info" />
                                </div>
                            </div>
                        </div>
                    }

                    <div>
                        <a href="@Url.Action("Index")" class="btn btn-inverse waves-effect waves-light">回到文章分類列表</a>
                        @*@Html.ActionLink("Back to List", "Index")*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>