@model Kiru8th.Models.Orderlist

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Backend/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Orderlist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Members.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Members.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ordernumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ordernumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Issuccess)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Issuccess)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InitDateTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InitDateTime)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
